@charset "utf-8";

/* ----------------------------------------------------
* reset style
* -------------------------------------------------- */

/* for new HTML5 elements */
section, article, aside, hgroup, header, footer, nav, figure, figcaption, summary { display: block; }
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica;
	word-wrap: break-word;
	word-break:break-all;
}

body, div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code,
form, fieldset, legend, input, textarea,
p, blockquote,
th, td {
	margin: 0;
	padding: 0;
}

address, cite, dfn, em, strong, var, th, ins, del, samp {
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

table {
	font-size: inherit;
	font: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

li {
	list-style-type: none;
}

input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%;
}

pre,code,kbd,samp,tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}

caption, th {
	text-align: left;
}

fieldset {
  padding: 10px 20px 25px;
  border: 1px solid #39a7c5;
  border-radius: 3px;
}

a img {
	border: none;
}

a {
  color: #39a7c5;
}

hr {
	display: none;
}

object,
embed {
	vertical-align: top;
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix {display: inline-block;} /* Hides from IE-mac \*/ * html .clearfix {height: 1%;} .clearfix {display: block;} /* End hide from IE-mac */
